<%- include partials/modal-respuesta.ejs %>
<%- include partials/modal-accion.ejs %>
<%- include partials/header.ejs %>

<div class="breadcrumb clearfix">
	<a href="/admin">Admin</a> / <a href="/admin/plantillas"><%= __('Plantillas') %></a>	
	<a id="toggle-form" href="#" class="btn btn-primary navbar-btn"><%= __('Agregar nueva plantilla') %></a>
</div>

<section id="admin-form" class="panel plantilla_new">
	<h2><%= __('Agregar nueva plantilla') %></h2>

	<form method="POST" action="/plantilla" id="form_plantilla_new" class="ajax-form">
		<div class="form-group">
			<label for="identificador"><%= __('Identificador') %></label>
			<input class="form-control" type="text" name="identificador" id="identificador" required>
		</div>

		<div class="form-group">
			<label for="mensaje"><%= __('Mensaje') %></label>
			<textarea class="form-control" name="mensaje" id="mensaje" required></textarea>
		</div>

		<div class="form-group">
			<label for="multimedia"><%= __('Multimedia') %></label>
			<textarea class="form-control" name="multimedia" id="multimedia"></textarea>
		</div>

		<div class="form-group">
			<label for="mensaje_retorno"><%= __('Mensaje de retorno') %></label>
			<textarea class="form-control" name="mensaje_retorno" id="mensaje_retorno"></textarea>
		</div>

		<div class="form-group">
			<label for="tiempo_escribiendo"><%= __('Tiempo escribiendo') %></label>
			<input class="form-control" type="number" name="tiempo_escribiendo" id="tiempo_escribiendo" required>
		</div>

		<div class="form-group">
			<label for="tiempo_respuesta"><%= __('Tiempo hasta respuesta') %></label>
			<input class="form-control" type="number" name="tiempo_respuesta" id="tiempo_respuesta" required>
		</div>

		<div class="form-group">
			<label for="autor"><%= __('Autor') %></label>
			<select id="autor" class="form-control" name="autor">
				<% for(var i=0; i<data.usuarios.length; i++) { %>
					<option value="<%= data.usuarios[i].id %>"><%= data.usuarios[i].username %></option>
				<% } %>
			</select>
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="submit" name="submit" value="<%= __('Agregar') %>">
		</div>
	</form>
</section>

<section id="admin-content" class="plantillas">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<td><input type="checkbox" name="select_all"></td>
				<td><%= __('Identificador') %></td>
				<td><%= __('Mensaje') %></td>
				<td><%= __('URL Multimedia') %></td>
				<td><%= __('Mensaje de retorno') %></td>
				<td><%= __('Tiempo Escribiendo') %></td>
				<td><%= __('Tiempo hasta respuesta') %></td>
				<td><%= __('Autor') %></td>
				<td><%= __('Respuestas') %></td>
				<td><%= __('Acciones') %></td>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<data.plantillas.length; i++) { %>
				<tr>
					<td><input type="checkbox" name="<%= data.plantillas[i].id %>"></td>
					<td>
						<%= data.plantillas[i].identificador %><br>
						<small>
							( <a href="plantilla/<%= data.plantillas[i].id %>" class="editar_plantilla" data-id="<%= data.plantillas[i].id %>"><%= __('Editar') %></a> / <a href="#" class="eliminar_plantilla" data-id="<%= data.plantillas[i].id %>"><%= __('Eliminar') %></a>)
						</small>		
					</td>
					<td><%= data.plantillas[i].mensaje %></td>
					<td><%= data.plantillas[i].multimedia || "no definido" %></td>
					<td><%= data.plantillas[i].mensaje_retorno || "no definido" %></td>
					<td><%= data.plantillas[i].tiempo_escribiendo  %></td>
					<td><%= data.plantillas[i].tiempo_respuesta %></td>
					<td><%= data.plantillas[i].autor.username || "sin autor" %></td>
					<td>
						<%= data.plantillas[i].respuestas.length || '0' %>
						<small>
							(<a href="#" class="nueva_respuesta" data-toggle="modal" data-target="#modal_respuesta" data-id="<%= data.plantillas[i].id %>"><%= __('Agregar') %></a> / <a href="#" class="ver_respuestas" data-toggle="modal" data-target="#modal_ver_respuestas" data-id="<%= data.plantillas[i].id %>"><%= __('Ver') %></a>)
						</small>
					</td>
					<td>
						<% if( data.plantillas[i].acciones ){ %> <%= data.plantillas[i].acciones.length %> <% }else{ %>0<%} %>
						<small>
							(<a href="#" class="nueva_accion" data-toggle="modal" data-target="#modal_accion" data-id="<%= data.plantillas[i].id %>"><%= __('Agregar') %></a> / <a href="#" class="ver_acciones" data-toggle="modal" data-target="#modal_ver_acciones" data-id="<%= data.plantillas[i].id %>"><%= __('Ver') %></a>)
						</small>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</section>