<%- include ../admin/partials/header.ejs %>

<div class="breadcrumb clearfix">
	<a href="/admin">Admin</a> / <a href="/admin/plantillas"><%= __('Plantillas') %></a>	
</div>

<section id="admin-form" class="panel plantilla_new visible">
	<h2><%= __('Editar plantilla') %>: <%= data.plantilla.identificador %></h2>

	<form method="POST" action="/plantilla/<%= data.plantilla.id %>" id="form_plantilla_new" class="ajax-form">
		<div class="form-group">
			<label for="id"><%= __('ID') %></label>
			<input type="text" disabled id="id" name="id" value=<%= data.plantilla.id %>>
		</div>

		<div class="form-group">
			<label for="identificador"><%= __('Identificador') %></label>
			<input class="form-control" type="text" name="identificador" id="identificador" required value="<%= data.plantilla.identificador %>">
		</div>

		<div class="form-group">
			<label for="mensaje"><%= __('Mensaje') %></label>
			<textarea class="form-control" name="mensaje" id="mensaje" required><%= data.plantilla.mensaje %></textarea>
		</div>

		<div class="form-group">
			<label for="multimedia"><%= __('Multimedia') %></label>
			<textarea class="form-control" name="multimedia" id="multimedia" value="<%= data.plantilla.multimedia || '' %>"></textarea>
		</div>

		<div class="form-group">
			<label for="mensaje_retorno"><%= __('Mensaje de retorno') %></label>
			<textarea class="form-control" name="mensaje_retorno" id="mensaje_retorno" value="<%= data.plantilla.mensaje_retorno || '' %>"></textarea>
		</div>

		<div class="form-group">
			<label for="tiempo_escribiendo"><%= __('Tiempo escribiendo') %></label>
			<input class="form-control" type="number" name="tiempo_escribiendo" id="tiempo_escribiendo" required value="<%= data.plantilla.tiempo_escribiendo %>">
		</div>

		<div class="form-group">
			<label for="tiempo_respuesta"><%= __('Tiempo hasta respuesta') %></label>
			<input class="form-control" type="number" name="tiempo_respuesta" id="tiempo_respuesta" required value="<%= data.plantilla.tiempo_respuesta %>">
		</div>

		<div class="form-group">
			<label for="autor"><%= __('Autor') %></label>
			<select id="autor" class="form-control" name="autor">
				<% for(var i=0; i<data.usuarios.length; i++) { %>
					<% if( data.usuarios[i].id == data.plantilla.autor ){ %>
						<option selected value="<%= data.usuarios[i].id %>"><%= data.usuarios[i].username %></option>
					<% }else{ %>
						<option value="<%= data.usuarios[i].id %>"><%= data.usuarios[i].username %></option>
					<% } %>
				<% } %>
			</select>
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="submit" name="submit" value="<%= __('Editar') %>">
		</div>
	</form>
</section>

<h2><%= __('Respuestas') %></h2>
<% if( data.plantilla.respuestas.length > 0){ %>
<ul>
	<% for(var i=0; i<data.plantilla.respuestas.length; i++) { %>
		<li><%= data.plantilla.respuestas[i].texto %></li>
	<% } %>
</ul>
<% }%>